{% extends 'index.html' %}

{% block crashdataview %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
{#        <div class="row placeholders">#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#            <div class="col-xs-6 col-sm-3 placeholder">#}
{#                <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">#}
{#                <h4>Label</h4>#}
{#                <span class="text-muted">Something else</span>#}
{#            </div>#}
{#        </div>#}

        <h2 class="sub-header">Section title</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Android Version</td>
                    <td>{{ crashdata.AndroidVersion }}</td>
                </tr>
                <tr>
                    <td>APP Version Code</td>
                    <td>{{ crashdata.APPVersionCode }}</td>
                </tr>
                <tr>
                    <td>APP Version Name</td>
                    <td>{{ crashdata.APPVersionName }}</td>
                </tr>
                <tr>
                    <td>Available Memory Size</td>
                    <td>{{ crashdata.AvailableMemorySize }}</td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>{{ crashdata.Brand }}</td>
                </tr>
                <tr>
                    <td>Display</td>
                    <td>{{ crashdata.Display }}</td>
                </tr>
                <tr>
                    <td>Rotation</td>
                    <td>{{ crashdata.Rotation }}</td>
                </tr>
                <tr>
                    <td>BootLoader</td>
                    <td>{{ crashdata.BootLoader }}</td>
                </tr>
                <tr>
                    <td>BuildBrand</td>
                    <td>{{ crashdata.BuildBrand }}</td>
                </tr>
                <tr>
                    <td>CPU_ABI</td>
                    <td>{{ crashdata.CPU_ABI }}</td>
                </tr>
                <tr>
                    <td>CPU_ABI2</td>
                    <td>{{ crashdata.CPU_ABI2 }}</td>
                </tr>
                <tr>
                    <td>DisplayFirmware</td>
                    <td>{{ crashdata.DisplayFirmware }}</td>
                </tr>
                <tr>
                    <td>TWRP</td>
                    <td>{{ crashdata.TWRP }}</td>
                </tr>
                <tr>
                    <td>Model</td>
                    <td>{{ crashdata.Model }}</td>
                </tr>
                <tr>
                    <td>MainBoard</td>
                    <td>{{ crashdata.Board }}</td>
                </tr>
                <tr>
                    <td>Device Features</td>
                    <td>{{ crashdata.DeviceFeatures }}</td>
                </tr>
                <tr>
                    <td>Logcat</td>
                    <td>{{ crashdata.Logcat }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}