{% extends 'index.html' %}

{% block logdataview %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="well well-sm">
            <form name='levelfilterform' method="POST" action="{{ url_for('.logDataLevelFilter') }}">
                <label>Filter >> </label>
                <select name="logLevel">
                    <option value="">Level</option>
                    <option value="v">v</option>
                    <option value="i">i</option>
                    <option value="d">d</option>
                    <option value="w">w</option>
                    <option value="e">e</option>
                </select>
                <input type='submit' name='submit' value="Level Filter">
            </form>
            <form name='tagfilterform' method="POST" action="{{ url_for('.logDataTagFilter') }}">
                <label>Filter >> </label>
                <select name="logTag">
                    <option value="">Tag</option>
                    {% for tag in tagFilter %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
                <input type='submit' name='submit' value="Level Filter">
            </form>
        </div>
        {% for log in logdata %}
            {% if 'v' in log.level %}
                <div class="panel panel-success">
                    <div class="panel-heading">Verb</div>
                    <div class="panel-body">
                        <p>Time : {{ log.time }}</p>
                        <p>Tag : {{ log.tag }}</p>
                        <p>Message : {{ log.message }}</p>
                        <p>Level : {{ log.level }}</p>
                    </div>
                </div>
            {% elif 'i' in log.level %}
                <div class="panel panel-info">
                    <div class="panel-heading">Info</div>
                    <div class="panel-body">
                        <p>Time : {{ log.time }}</p>
                        <p>Tag : {{ log.tag }}</p>
                        <p>Message : {{ log.message }}</p>
                        <p>Level : {{ log.level }}</p>
                    </div>
                </div>
            {% elif 'd' in log.level %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Debug</div>
                    <div class="panel-body">
                        <p>Time : {{ log.time }}</p>
                        <p>Tag : {{ log.tag }}</p>
                        <p>Message : {{ log.message }}</p>
                        <p>Level : {{ log.level }}</p>
                    </div>
                </div>
            {% elif 'e' in log.level %}
                <div class="panel panel-danger">
                    <div class="panel-heading">Error</div>
                    <div class="panel-body">
                        <p>Time : {{ log.time }}</p>
                        <p>Tag : {{ log.tag }}</p>
                        <p>Message : {{ log.message }}</p>
                        <p>Level : {{ log.level }}</p>
                    </div>
                </div>
            {% elif 'w' in log.level %}
                <div class="panel panel-warning">
                    <div class="panel-heading">Warning</div>
                    <div class="panel-body">
                        <p>Time : {{ log.time }}</p>
                        <p>Tag : {{ log.tag }}</p>
                        <p>Message : {{ log.message }}</p>
                        <p>Level : {{ log.level }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}